<!DOCTYPE html>
<html>
    <head>
        <title> Example blog</title>
    </head>
<body>
    <h1>First heading!</h1>
    <h2>Sub-heading!</h2>
    <h3>Sub-sub-heading!</h3> 
    <!-- Maximum is h6 -->

    <!-- em = emphasis or italics -->
    <!-- strong = bold -->
    <p>Hi <strong><em>there</em>, friend!</strong></p>
    <p>It works!</p>
    <p>Check out my <a href = "https://github.com/Natz12/django_web">github</a></p>
    <div>
    <p>Let's show a list:</p>
    <ul><li>fisrt item</li><li>second item</li><li>third item!</li></ul>
    </div>
</body>
</html>